.header__socials {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2 rem;
    width: 15px;
    height: 15px;
    justify-content: center;
    padding-right: 5px;
    

}
.SocialIcons{
    font-size: 40px;
  }
  
  @media only screen and (max-width: 400px) {
    .SocialIcons {
      font-size: 20px;
    }
  }