.avatarstyle {
    box-shadow: 8px 8px 5px;
}


.repbackground{
    background-image: url(./images/repbackground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.dembackground{
    background-image: url(./images/dembackground.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  
    
}

.namefont {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 80px;
    background-color: transparent;
}
.btn-container > button{
/* justify-content: center; */

/* align-items: center; */
grid-template-columns: auto auto;
gap: 2rem;

display: grid;
grid-template-columns: auto auto;
gap: 2rem;
}
.btn {
    border: 2px solid black;
    width: 10%;
    border-radius: 50px;
    grid-template-rows: auto auto;
gap: 2rem;

display: grid;

    
    
}
@media screen and (max-width: 503px){
    
}