.me-auto my-2 my-lg-0{
  background-color: transparent;
}
.navlinks{
  text-decoration: none;
  color: white;
  margin: 10px;
}
.navlinks:hover {
  text-decoration: underline;
}

.searchbarstyle {
  margin-left: 50px;
  display: inline;
  width: 30%;
  min-width: 230px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.home-link{
  color: black;
  font-size: 20px;
}
.p.c.f-link{
  color: black;
  font-size: 20px;
}
.profile-link{
  color: black;
  font-size: 20px;
}